<ion-view view-title="">
    <ion-floating-menu menu-color="#ED3237" menu-open-color="#ED3237">
    <ion-floating-item button-color="#ED3237" icon="ion-android-settings" text="Configurações" click="configuracoes()" ng-href="#/tab/configuracoes"></ion-floating-item>
    <ion-floating-item button-color="#ED3237"  href="#/tab/chats" click="versaoImpressa()" icon="ion-camera" text="Versão Impressa"></ion-floating-item>
    <ion-floating-item button-color="#ED3237"  href="#/tab/contato" click="abreContato()" icon="ion-chatboxes" text="Fale Conosco"></ion-floating-item>
    <ion-floating-item button-color="#ED3237" click="assinaturas()" icon="ion-person" text="Assinaturas" ng-href="#/tab/assinar"></ion-floating-item> 
    <ion-floating-item button-color="#0977A3" click="carregaInicio()" icon-image-class="imageClass" icon-image-path="img/logo-jp.png" text="Jornal do Povo"></ion-floating-item>    
  </ion-floating-menu>

  <ion-content>  

 

 <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="$index">
      <ion-slide ng-repeat="image in allImages">
      		<ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false"
      zooming="true" min-zoom="{{zoomMin}}" style="width: 100%; height: 100%"
         delegate-handle="scrollHandle{{$index}}" on-scroll="updateSlideStatus({{$index}})" on-release="updateSlideStatus({{$index}})"  overflow-scroll="false">
 
      <div class="image" style="background-image: url( {{image.src}} )"></div>
     
    </ion-scroll>

      </ion-slide>

  </ion-slide-box>
 

 
  </ion-content>
</ion-view>

 