<ion-view view-title="">
    <ion-floating-menu menu-color="#ED3237" menu-open-color="#ED3237">
    <ion-floating-item button-color="#ED3237" icon="ion-android-settings" text="Configurações" click="configuracoes()" ng-href="#/tab/configuracoes"></ion-floating-item>
    <ion-floating-item button-color="#ED3237"  href="#/tab/chats" click="versaoImpressa()" icon="ion-camera" text="Versão Impressa"></ion-floating-item>
    <ion-floating-item button-color="#ED3237"  href="#/tab/contato" click="abreContato()" icon="ion-chatboxes" text="Fale Conosco"></ion-floating-item>
    <ion-floating-item button-color="#ED3237" click="assinaturas()" icon="ion-person" text="Assinaturas" ng-href="#/tab/assinar"></ion-floating-item> 
    <ion-floating-item button-color="#0977A3" click="carregaInicio()" icon-image-class="imageClass" icon-image-path="img/logo-jp.png" text="Jornal do Povo"></ion-floating-item>    
  </ion-floating-menu>

  <ion-content>  

	  <ion-slide-box>
  <ion-slide>
    <ion-scroll zooming="true"
		    direction="xy" 
		    delegate-handle="zoom-pane" 
		    class="zoom-pane" 
		    min-zoom="1" 
            scrollbar-x="false" 
	        scrollbar-y="false" 
		    overflow-scroll="false">
		        <img ng-src="http://www.garagee.com.br/jornaldopovo/edicoes/20180125/jpg/edicao_completa-page-001.jpg">
		   	</ion-scroll>	
  </ion-slide> 

    <ion-slide>
    <ion-scroll zooming="true"
		    direction="xy" 
		    delegate-handle="zoom-pane" 
		    class="zoom-pane" 
		    min-zoom="1" 
            scrollbar-x="false" 
	        scrollbar-y="false" 
		    overflow-scroll="false">
		        <img ng-src="http://www.garagee.com.br/jornaldopovo/edicoes/20180125/jpg/edicao_completa-page-002.jpg">
		   	</ion-scroll>	
  </ion-slide> 

    <ion-slide>
    <ion-scroll zooming="true"
		    direction="xy" 
		    delegate-handle="zoom-pane" 
		    class="zoom-pane" 
		    min-zoom="1" 
            scrollbar-x="false" 
	        scrollbar-y="false" 
		    overflow-scroll="false">
		        <img ng-src="http://www.garagee.com.br/jornaldopovo/edicoes/20180125/jpg/edicao_completa-page-003.jpg">
		   	</ion-scroll>	
  </ion-slide> 

    <ion-slide>
    <ion-scroll zooming="true"
		    direction="xy" 
		    delegate-handle="zoom-pane" 
		    class="zoom-pane" 
		    min-zoom="1" 
            scrollbar-x="false" 
	        scrollbar-y="false" 
		    overflow-scroll="false">
		        <img ng-src="http://www.garagee.com.br/jornaldopovo/edicoes/20180125/jpg/edicao_completa-page-004.jpg">
		   	</ion-scroll>	
  </ion-slide> 

    <ion-slide>
    <ion-scroll zooming="true"
		    direction="xy" 
		    delegate-handle="zoom-pane" 
		    class="zoom-pane" 
		    min-zoom="1" 
            scrollbar-x="false" 
	        scrollbar-y="false" 
		    overflow-scroll="false">
		        <img ng-src="http://www.garagee.com.br/jornaldopovo/edicoes/20180125/jpg/edicao_completa-page-005.jpg">
		   	</ion-scroll>	
  </ion-slide> 


      <ion-slide>
    <ion-scroll zooming="true"
		    direction="xy" 
		    delegate-handle="zoom-pane" 
		    class="zoom-pane" 
		    min-zoom="1" 
            scrollbar-x="false" 
	        scrollbar-y="false" 
		    overflow-scroll="false">
		        <img ng-src="http://www.garagee.com.br/jornaldopovo/edicoes/20180125/jpg/edicao_completa-page-006.jpg">
		   	</ion-scroll>	
  </ion-slide> 

      <ion-slide>
    <ion-scroll zooming="true"
		    direction="xy" 
		    delegate-handle="zoom-pane" 
		    class="zoom-pane" 
		    min-zoom="1" 
            scrollbar-x="false" 
	        scrollbar-y="false" 
		    overflow-scroll="false">
		        <img ng-src="http://www.garagee.com.br/jornaldopovo/edicoes/20180125/jpg/edicao_completa-page-007.jpg">
		   	</ion-scroll>	
  </ion-slide> 

      <ion-slide>
    <ion-scroll zooming="true"
		    direction="xy" 
		    delegate-handle="zoom-pane" 
		    class="zoom-pane" 
		    min-zoom="1" 
            scrollbar-x="false" 
	        scrollbar-y="false" 
		    overflow-scroll="false">
		        <img ng-src="http://www.garagee.com.br/jornaldopovo/edicoes/20180125/jpg/edicao_completa-page-008.jpg">
		   	</ion-scroll>	
  </ion-slide> 

    <ion-slide>
    <ion-scroll zooming="true"
		    direction="xy" 
		    delegate-handle="zoom-pane" 
		    class="zoom-pane" 
		    min-zoom="1" 
            scrollbar-x="false" 
	        scrollbar-y="false" 
		    overflow-scroll="false">
		        <img ng-src="http://www.garagee.com.br/jornaldopovo/edicoes/20180125/jpg/edicao_completa-page-009.jpg">
		   	</ion-scroll>	
  </ion-slide> 


      <ion-slide>
    <ion-scroll zooming="true"
		    direction="xy" 
		    delegate-handle="zoom-pane" 
		    class="zoom-pane" 
		    min-zoom="1" 
            scrollbar-x="false" 
	        scrollbar-y="false" 
		    overflow-scroll="false">
		        <img ng-src="http://www.garagee.com.br/jornaldopovo/edicoes/20180125/jpg/edicao_completa-page-010.jpg">
		   	</ion-scroll>	
  </ion-slide> 

    <ion-slide>
    <ion-scroll zooming="true"
		    direction="xy" 
		    delegate-handle="zoom-pane" 
		    class="zoom-pane" 
		    min-zoom="1" 
            scrollbar-x="false" 
	        scrollbar-y="false" 
		    overflow-scroll="false">
		        <img ng-src="http://www.garagee.com.br/jornaldopovo/edicoes/20180125/jpg/edicao_completa-page-011.jpg">
		   	</ion-scroll>	
  </ion-slide> 

      <ion-slide>
    <ion-scroll zooming="true"
		    direction="xy" 
		    delegate-handle="zoom-pane" 
		    class="zoom-pane" 
		    min-zoom="1" 
            scrollbar-x="false" 
	        scrollbar-y="false" 
		    overflow-scroll="false">
		        <img ng-src="http://www.garagee.com.br/jornaldopovo/edicoes/20180125/jpg/edicao_completa-page-012.jpg">
		   	</ion-scroll>	
  </ion-slide> 

    <ion-slide>
    <ion-scroll zooming="true"
		    direction="xy" 
		    delegate-handle="zoom-pane" 
		    class="zoom-pane" 
		    min-zoom="1" 
            scrollbar-x="false" 
	        scrollbar-y="false" 
		    overflow-scroll="false">
		        <img ng-src="http://www.garagee.com.br/jornaldopovo/edicoes/20180125/jpg/edicao_completa-page-013.jpg">
		   	</ion-scroll>	
  </ion-slide> 

      <ion-slide>
    <ion-scroll zooming="true"
		    direction="xy" 
		    delegate-handle="zoom-pane" 
		    class="zoom-pane" 
		    min-zoom="1" 
            scrollbar-x="false" 
	        scrollbar-y="false" 
		    overflow-scroll="false">
		        <img ng-src="http://www.garagee.com.br/jornaldopovo/edicoes/20180125/jpg/edicao_completa-page-014.jpg">
		   	</ion-scroll>	
  </ion-slide> 

    <ion-slide>
    <ion-scroll zooming="true"
		    direction="xy" 
		    delegate-handle="zoom-pane" 
		    class="zoom-pane" 
		    min-zoom="1" 
            scrollbar-x="false" 
	        scrollbar-y="false" 
		    overflow-scroll="false">
		        <img ng-src="http://www.garagee.com.br/jornaldopovo/edicoes/20180125/jpg/edicao_completa-page-015.jpg">
		   	</ion-scroll>	
  </ion-slide> 

      <ion-slide>
    <ion-scroll zooming="true"
		    direction="xy" 
		    delegate-handle="zoom-pane" 
		    class="zoom-pane" 
		    min-zoom="1" 
            scrollbar-x="false" 
	        scrollbar-y="false" 
		    overflow-scroll="false">
		        <img ng-src="http://www.garagee.com.br/jornaldopovo/edicoes/20180125/jpg/edicao_completa-page-016.jpg">
		   	</ion-scroll>	
  </ion-slide> 

</ion-slide-box>

 
 
 
  </ion-content>
</ion-view>

 