<ion-view view-title="Edições Impressas">
  <ion-content>

    <ion-slide-box>
      <ion-slide>
        <img src="img/edicoes/4384.jpg" width="100%">
      </ion-slide>
      <ion-slide>
        <img src="img/edicoes/4385.jpg" width="100%">
      </ion-slide>
      <ion-slide>
        <img src="img/edicoes/4386.jpg" width="100%">
      </ion-slide>
      <ion-slide>
        <img src="img/edicoes/4387.jpg" width="100%">
      </ion-slide>
      <ion-slide>
        <img src="img/edicoes/4388.jpg" width="100%">
      </ion-slide>
    </ion-slide-box>


  </ion-content>
</ion-view>
