<ion-view view-title="">
    <ion-floating-menu menu-color="#ED3237" menu-open-color="#ED3237">
    <ion-floating-item button-color="#ED3237" icon="ion-android-settings" text="Configurações" click="configuracoes()" ng-href="#/tab/configuracoes"></ion-floating-item>
    <ion-floating-item button-color="#ED3237"  href="#/tab/chats" click="versaoImpressa()" icon="ion-camera" text="Versão Impressa"></ion-floating-item>
    <ion-floating-item button-color="#ED3237"  href="#/tab/contato" click="abreContato()" icon="ion-chatboxes" text="Fale Conosco"></ion-floating-item>
    <ion-floating-item button-color="#ED3237" click="assinaturas()" icon="ion-person" text="Assinaturas" ng-href="#/tab/assinar"></ion-floating-item> 
    <ion-floating-item button-color="#0977A3" click="carregaInicio()" icon-image-class="imageClass" icon-image-path="img/logo-jp.png" text="Jornal do Povo"></ion-floating-item>    
  </ion-floating-menu>

  <ion-content> 

     
    <a href="intent://send/+5551999909835#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end">
     <img src="img/link-whatsapp.jpg" width="100%">
    </a>

   <br>
   <div class="card">
      <div class="item item-divider">
       OU MANDE UM CONTATO COM O JP 
      </div>
    </div>
 <form method="post" ng-submit="submit(contactform, formData)" name="contactform" role="form">
 


<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">NOME</span>
    <input type="text" ng-model="formData.nome">
  </label> 
  <label class="item item-input item-stacked-label">
    <span class="input-label">TELEFONE</span>
    <textarea ng-model="formData.telefone"></textarea>
  </label>
  <label class="item item-input item-stacked-label">
      <span class="input-label">E-MAIL</span>
    <textarea ng-model="formData.email"></textarea>
  </label>
  <label class="item item-input item-stacked-label">
      <span class="input-label">OBSERVAÇÃO</span>
    <textarea ng-model="formData.observacao"></textarea>
  </label>
   <button class="button button-block button-positive">
  ENVIAR
</button>
 
  </ion-content>
</ion-view>