<ion-view view-title="">
  <ion-nav-bar class="bar-custom">
  </ion-nav-bar>
  <ion-content>

    <div class="list">
      <div class="item item-input-inset">
        <label class="item item-input-wrapper">
          <input type="text" ng-model='maskModel' mask='31/12/9999' placeholder="Digite a data">
        </label>
        <a class="button button-icon icon ion-search"></a>
      </div>

    </div>
    <ion-slide-box>
      <ion-slide>
        <img src="img/edicoes/4384.jpg" width="100%" ng-click="abreEdicao();">
      </ion-slide>
      <ion-slide>
        <img src="img/edicoes/4385.jpg" width="100%">
      </ion-slide>
      <ion-slide>
        <img src="img/edicoes/4386.jpg" width="100%">
      </ion-slide>
      <ion-slide>
        <img src="img/edicoes/4387.jpg" width="100%">
      </ion-slide>
      <ion-slide>
        <img src="img/edicoes/4388.jpg" width="100%">
      </ion-slide>
    </ion-slide-box>


  </ion-content>
</ion-view>
