<ion-view view-title="Dashboard">
  

  <ion-content scroll="true" overflow-scroll="true">
    
 

<ul class="list">



  <li class="item item-toggle">
     ATIVAR / DESATIVAR NOTIFICAÇÕES


     <label class="toggle toggle-assertive">
       <input type="checkbox" ng-model="myCheckbox" name="xxx" ng-change="habilitaDesabilita(myCheckbox)" ng-change='habilitaDesabilita(myCheckbox)'>
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li> 

</ul>


            <ion-floating-menu menu-color="#ED3237" menu-open-color="#ED3237">
    <ion-floating-item button-color="#ED3237" icon="ion-android-settings" text="Configurações" click="configuracoes()" ng-href="#/tab/configuracoes"></ion-floating-item>
    <ion-floating-item button-color="#ED3237"  href="#/tab/chats" click="versaoImpressa()" icon="ion-camera" text="Versão Impressa"></ion-floating-item>
    <ion-floating-item button-color="#ED3237"  href="#/tab/contato" click="abreContato()" icon="ion-chatboxes" text="Fale Conosco"></ion-floating-item>
    <ion-floating-item button-color="#ED3237" click="assinaturas()" icon="ion-person" text="Assinaturas" ng-href="#/tab/assinar"></ion-floating-item> 
    <ion-floating-item button-color="#0977A3" click="carregaInicio()" icon-image-class="imageClass" icon-image-path="img/logo-jp.png" text="Jornal do Povo"></ion-floating-item>    
  </ion-floating-menu>
  </ion-content>

</ion-view>
